<div class="container">
    <div id="panelScreen">
        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
            <label>Service</label>
            <br>
            <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/gift.png" height="100" width="100"/>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <button ng-click="detail.subscribe()" >SUBSCRIBE</button>
        </div>
    </div>
</div>

<script src="../app/controllers/detailService.ctrl.js" ></script>
