<!DOCTYPE html>
<html ng-app="webui">
<head>
    <title>WebUI</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.js"></script>


    <script src="../app/app.js" ></script>
    <script src="../app/controllers/login.ctrl.js" ></script>
        
    <script src="../app/services.js" ></script>
    <script src="../app/state_provider.js" ></script>
    <script src="../app/http_provider.js" ></script>

</head>
<body>

<div ng-include="'topMenu.html'"></div>

<div ui-view></div>



</body>
</html>