    <div class="fixedWidth">
        <div id="panelScreen">
            <!--
            <crux:adaptiveGrid id="grid" width="100%" dataSource="rowCustomizationDataSource" styleName="grid">
                <crux:largeColumns>
                    <crux:dataColumn key="instance" label="Name" width="250px"/>
                    <crux:dataColumn key="status" label="Status" width="150px"/>
                    <crux:widgetColumn key="actions" label="Edit Instance" width="100px">
                        <faces:button id="btnOK" text="GO" onSelect="instancesServiceCatalog.ctrl.go"/>
                    </crux:widgetColumn>
                </crux:largeColumns>
                <crux:smallColumns>
                    <crux:dataColumn key="idApplication" label="ID" width="100px" />
                    <crux:dataColumn key="idCustomization" label="ID CUSTOM" width="100px" />
                </crux:smallColumns>
            </crux:adaptiveGrid>
            -->
        </div>
    </div>

<script src="../app/controllers/instancesServiceCatalog.ctrl.js" ></script>