<!DOCTYPE html>
<html ng-app="webui">
<head>
    <title>WebUI</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body ng-controller="">
<!-- INIT NAVIGATION -->
<div class="container">
    <div class="masthead">
        <ul class="nav nav-justified">
            <li ><a href="login.html">Login</a></li>
            <li ><a href="register.html">Register</a></li>
            <li ><a href="detail.html">Service Detail</a></li>
            <li ><a href="publish.html">Publish Service</a></li>
            <li ><a href="serviceCatalogList.html">Service Catalog List</a></li>
            <li ><a href="subscribeServiceTaylorForm.html">Subscribe Service - Taylor Form</a></li>
            <li ><a href="serviceSubscriberOperate.html">Service Subscriber. Operate</a></li>
            <li ><a href="instances.html">Instances Service Catalog - Manager</a></li>
            <li ><a href="servicesCatalog.html">Services Catalog - Manager</a></li>
            <li ><a href="subscribeServiceTaylorForm.html">Service Add Deploy Form</a></li>
        </ul>
    </div>
</div>
<!-- END NAVIGATION -->


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"/>
<script src="../app/app.js" />
<script src="../app/controllers/publishServiceController.js" ></script>
</body>
</html>