<div class="container">
    <div id="panelScreen">
        <div id="form" style="display:block; margin: 50px" >
            <label>Name:</label>
            <input ng-model="register.name" />
            <br />
            <label>Password:</label>
            <input type="password" ng-model="register.password" />
            <br />
            <label>Role:</label>
            <input type="password" ng-model="register.password" />
            <br />
            <br />
            <button id="REgister" ng-click="register.register()" >Register</button>
        </div>
    </div>
</div>

<script src="../app/controllers/register.ctrl.js" ></script>
