<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">Service Subscriber Operate Controller</div>
        <div class="innerPanel">
            <div class="header-Label">Manage MobileID</div>
            <div class="manageOperations">
                <span class="mo_text">Manage MobileID Operations</span>
                <div class="taylor-Label-Big">Handle resource request:</div>
                <button type="button" class="crux-Button taylor-Button">Update MobileID</button>
                <div class="taylor-Label-Big">Decomission MobileID Instance:</div>
                <button type="button" class="crux-Button taylor-Button">Decomission</button>
            </div>
            <div class="followKPIs">
                <span class="mo_text">Follow MobileID KPI's</span>
                <div class="taylor-Label">CPU Usage:</div>
                <input type="text" class="taylor-TextBox" disabled="">
                <div class="taylor-Label">Bandwith Usage:</div>
                <input type="text" class="taylor-TextBox" disabled="">
                <div class="taylor-Label">Disk Space Usage:</div>
                <input type="text" class="taylor-TextBox" disabled="">
                <div class="taylor-Label">RAM Memory Usage:</div>
                <input type="text" class="taylor-TextBox" disabled="">
            </div>
            <div class="gwt-Label">Check your Terms and Conditions</div>
        </div>
    </div>
</div>