<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">{{"detail.title" | translate}}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{appDetail.name}} {{"detail.service" | translate}}</h2>
                    <h3>{{"detail.status" | translate}}: {{appDetail.status}}</h3>
                    <img src="http://placehold.it/200x180">
                    <div class="caption">
                        <p>{{appDetail.description}}</p>
                        <div>
                            <input type="button" ng-show="showButton" ng-click="detail_function()" value="{{buttonValue}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


