<div class="container">
    <div id="panelScreen">
        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
            {{appDetail.name}} Service
            <br />
            <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/gift.png" height="100" width="100"/>
            <br />
            <p>
                {{appDetail.description}}
            </p>
            <input type="button" ng-click="subscribe()" value="SUBSCRIBE" />
        </div>
    </div>
</div>


