<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">{{"login.title" | translate}}</div>
        <div class="panel-body">
            <form novalidate class="simple-form">
                {{ 'login.name' | translate}}: <input ng-model="user.name" /><br />
                {{ 'login.password' | translate}}: <input type="password" ng-model="user.password" /> <br />
                <br />
                <input type="submit" ng-click="login(user)" value="{{ 'login.button' | translate}}" />
            </form>
            <br />
            <div style="background-color: red">
                {{error}}
            </div>
        </div>
    </div>
</div>