<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">Publish Service</div>
        <form target="FormPanel_toscaui_1" action="/rest/proxyAPIService/uploadFile" method="POST">
            <table class="publishService-Form">
                <colgroup>
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        <div>
                            <input type="text" class="gwt-TextBox" name="textUpload" >
                        </div>
                        <button type="button" class="crux-Button publish-Library">Select TOSCA Archive</button>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label">Content Library</div>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        <div>
                            <input type="text" class="gwt-TextBox" name="textUpload" >
                        </div>
                        <button type="button" class="crux-Button publish-Library">Add Item</button>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div>
                            <select class="gwt-ListBox" size="6" >
                                <option value="value">main.css</option>
                                <option value="value">dumb.sql</option>
                                <option value="value">custom.properties</option>
                            </select><br>
                            <button type="button" class="crux-Button publish-Library">Delete Item</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        <div>
                            <button type="button" class="crux-Button" ng-click="saveConfiguration()">Save Configuration</button>
                            <button type="button" class="crux-Button" ng-click="publishService()" disabled>Publish Service</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
