<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">Publish Service</div>
        <form target="FormPanel_toscaui_1" action="/rest/proxyAPIService/uploadFile" method="POST">
            <table class="publishService-Form">
                <colgroup>
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        Select TOSCA Archive:
                        <!--ngf-multiple="multiple"-->
                        <div class="button-upload" ngf-select ng-model="toscaArchive" >Select File</div>
                        File:
                        <ul>
                            <li ng-repeat="t in toscaArchive" style="font:smaller">{{t.name}}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label">Content Library</div>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        <div class="button-upload" ngf-select ng-model="contentLib" >Add Item in Library</div>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div>
                            <select ng-model="getContentLibrary" class="gwt-ListBox" size="6" ng-options="c as c for hola in cFiles">
                                <!--<option ng-repeat="c in contentLib" value="{{c.name}}">{{c.name}}</option>-->
                            </select>
                            <br />
                            <button type="button" class="crux-Button publish-Library" ng-click="deleteLib(c)" >Delete Item in Library</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formEntryLabel" style="display: table-cell; text-align: left;">
                        <div class="gwt-Label"></div>
                    </td>
                    <td class="formEntryData" style="display: table-cell; text-align: left;">
                        <div>
                            <button type="button" class="crux-Button" ng-click="saveConfiguration()">Save Configuration</button>
                            <button type="button" class="crux-Button" ng-click="publishService()">Publish Service</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
