<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">{{"publish.title" | translate}}</div>
        <div class="panel-body">
            <form novalidate class="">
                <div class="form-group row">
                    <div class="btn btn-info" ngf-select ng-model="contentLib">{{"publish.add.item" | translate}}</div>
                </div>
                <div class="form-group row" ng-show="isLibraryEmpty()">
                    <label>{{"publish.content.library" | translate}}</label>
                    <input class="form-control" type="text" autocomplete="off" value="{{'publish.content.emptylibrary' | translate}}" disabled />
                </div>
                <div class="form-group row" ng-hide="isLibraryEmpty()">
                    <label>{{"publish.content.library" | translate}}</label>
                    <div  ng-repeat="content in libraryList">
                        <div class="input-group">
                            <span class="input-group-addon">Name</span>
                            <input class="form-control" type="text" autocomplete="off"/>
                            <!--<span class="input-group-addon">Description</span>
                            <input class="form-control" type="text" autocomplete="off"/>
                        </div>
                        <div class="input-group">-->
                            <span class="input-group-addon">File</span>
                            <input class="form-control" type="text" autocomplete="off" value="{{content.name}}" disabled/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" ng-click="deleteLib(content)" >{{"publish.delete.item" | translate}}</button>
                            </span>
                        </div>
                    </div>

                </div>
                <button type="button" class="btn btn-primary" ng-click="saveConfigurationWizardTwo()">{{"publish.button.save_n_next" | translate}}</button>
            </form>
        </div>
    </div>
</div>
