<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">{{"publish.title" | translate}}</div>
        <form novalidate class="simple-form">
            <table class="publishService-Form">
                <colgroup>
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>
                        {{"publish.service.name" | translate}}
                    </td>
                    <td>
                        <input type="text" class="gwt-TextBox" autocomplete="off" style="width: 51%;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"publish.service.description" | translate}}
                    </td>
                    <td>
                        <textarea class="gwt-TextArea" style="height: 243px; width: 630px;" ></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            {{"publish.service.image" | translate}}:
                            <!--ngf-multiple="multiple"-->
                            <div class="button-upload" ngf-select ng-model="files" >{{"publish.select.file" | translate}}</div>
                            {{"publish.file" | translate}}:
                            <ul>
                                <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <button type="button" class="crux-Button" ng-click="saveConfiguration()">{{"publish.button.save" | translate}}</button>
                            <button type="button" class="crux-Button" ng-click="publishService()" >{{"publish.button.publish" | translate}}</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
