<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">{{"register.title" | translate}}</div>
        <form novalidate class="simple-form">
            {{ "register.name" | translate}}: <input ng-model="user.name" /><br />
            {{ "register.password" | translate}}: <input type="password" ng-model="user.password" /><br />
            {{ "register.repeatpassword" | translate}}: <input type="password" ng-model="user.password_two" /><br />
            {{ "register.role" | translate}}:
            <select>
                <option ng-repeat="role in roleList">
                    {{role.Role.name}}
                </option>
            </select>
            <br />
            <input type="submit" ng-click="register(user)" value="{{ 'register.button' | translate}}" />
        </form>
        <div style="background-color: red">
            {{error}}
        </div>
    </div>
</div>
