<div class="fixedWidth">
    <div class="panel panel-default">
        <div class="panel-heading">{{"services.subscriber.title" | translate}}</div>
        <div class="panel-body">

            <div class="innerPanel">
                <div class="header-Label">{{"service.subscriber.manage" | translate}} MobileID</div>
                <div class="manageOperations">
                    <span class="mo_text">{{"service.subscriber.manage" | translate}} MobileID {{"service.subscriber.operations" | translate}}</span>
                    <div class="taylor-Label-Big">{{"service.subscriber.handle" | translate}}:</div>
                    <button type="button" class="btn taylor-Button">{{"service.subscriber.update" | translate}} MobileID</button>
                    <div class="taylor-Label-Big">{{"service.subscriber.decomission" | translate}} MobileID {{"service.subscriber.instance" | translate}}:</div>
                    <button type="button" class="btn taylor-Button">{{"service.subscriber.update" | translate}}</button>
                </div>
                <div class="followKPIs">
                    <span class="mo_text">{{"service.subscriber.follow" | translate}} MobileID {{"service.subscriber.kpi" | translate}}</span>
                    <div class="taylor-Label">{{"service.subscriber.cpu" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" disabled="">
                    <div class="taylor-Label">{{"service.subscriber.bandwidth" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" disabled="">
                    <div class="taylor-Label">{{"service.subscriber.disk" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" disabled="">
                    <div class="taylor-Label">{{"service.subscriber.ram" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" disabled="">
                </div>
                <div class="gwt-Label">{{"service.subscriber.terms" | translate}}</div>
            </div>
        </div>
    </div>
</div>