<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">Service Add Deploy Form</div>
        <div class="serviceDeploy"><span class="mo_text">Service Deploy</span>
            <button type="button" class="crux-Button">Deploy Service</button>
            <button type="button" class="crux-Button">Test Service</button>
        </div>
        <div class="serviceParameters">
            <span class="mo_text">Service Parameters</span>
            <div class="leftPanel">
                <div class="taylor-Label">Cloud Node:</div>
                <select class="taylor-ListBox">
                    <option ng-repeat="cloud in cloudNodeList" value="{{cloud.id}}">
                        {{cloud.name}}
                    </option>
                </select>
                <div class="taylor-Label">Operating System:</div>
                <select class="taylor-ListBox">
                    <option ng-repeat="os in osList" value="{{os.id}}">
                        {{os.name}}
                    </option>
                </select>
                <div class="taylor-Label">Number CPU's:</div>
                <input type="text" class="taylor-TextBox" ng-model="service.cpu">
                <div class="taylor-Label">Disk Space:</div>
                <input type="text" class="taylor-TextBox" ng-model="service.disk">
                <div class="taylor-Label">Memory RAM:</div>
                <input type="text" class="taylor-TextBox" ng-model="service.ram">
                <div class="taylor-Label">Bandwidth:</div>
                <input type="text" class="taylor-TextBox" ng-model="service.bandwidth">
                <div class="taylor-Label">URL/Domain:</div>
                <input type="text" class="taylor-TextBox" ng-model="service.domain">
                <div class="taylor-Label">CSS Skin:</div>
                <select class="taylor-ListBox">
                    <option ng-repeat="s in skinList" value="{{s.id}}">
                        {{s.name}}
                    </option>
                </select>
            </div>
            <!--
            <div class="rightPanel">
                <span class="mo_text">Puppet Files</span>
                <button type="button" class="crux-Button">Upload Puppet</button>
                <input type="text" class="taylor-TextBox">
                <span class="puppet-checkBox">
                    <input type="checkbox" value="on" id="gwt-uid-1" tabindex="0">
                    <label for="gwt-uid-1">Puppet File 1</label>
                </span>
                <span class="puppet-checkBox">
                    <input type="checkbox" value="on" id="gwt-uid-2" tabindex="0">
                    <label for="gwt-uid-2">Puppet File 2</label>
                </span>
                <span class="puppet-checkBox">
                    <input type="checkbox" value="on" id="gwt-uid-3" tabindex="0">
                    <label for="gwt-uid-3">Puppet File 3</label>
                </span>
                <button type="button" class="crux-Button">Remove Puppet</button>
            </div>
            -->
            <br />
            <button type="button" class="crux-Button" ng-click="saveTemplate(service)">Save Template</button>
            <button type="button" class="crux-Button" ng-click="uploadTemplate(service)">Upload Template</button>
        </div>
    </div>
</div>