<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">Service Catalog</div>
        <div class="crux-Storyboard" style="width: 100%; height: 100%;">
            <div>
                <div style="text-align: center;">
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">Agenda</div>
                                    <div class="productOther">Agenda is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">MobileID</div>
                                    <div class="productOther">MobileID is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">ASIA</div>
                                    <div class="productOther">ASIA is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">MIB</div>
                                    <div class="productOther">MIB (Base Information Database) is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">Clear??</div>
                                    <div class="productOther">Clearo is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">FixThis</div>
                                    <div class="productOther">FixThis is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">Transportation System - Corby</div>
                                    <div class="productOther">Transportation System - Corby is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">BusPortal - Corby</div>
                                    <div class="productOther">BusPortal - Corby is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">Energy Consumption - Corby</div>
                                    <div class="productOther">Energy Consumption - Corby is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">Next2Me</div>
                                    <div class="productOther">Next2Me is a service that allows to...</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">TestApp</div>
                                    <div class="productOther">Test application description</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" class="item" style="height: 200px; width: 200px; display: inline-table; vertical-align: bottom;">
                        <input type="text" tabindex="-1" role="presentation" style="opacity: 0; height: 1px; width: 1px; z-index: -1; overflow: hidden; position: absolute;">
                        <div class="crux-StyledPanelOuter storeItem" style="display: table; box-sizing: border-box;">
                            <div class="crux-StyledPanel" style="display: table-cell; width: 100%; vertical-align: middle;">
                                <div class="cf" style="margin-left: auto; margin-right: auto;">
                                    <div class="productImage"></div>
                                    <div class="productName">demo_brussels</div>
                                    <div class="productOther">This is a demo in brussels</div>
                                    <button type="button" class="gwt-Button productButton">CHOOSE THIS SERVICE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>