<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">{{"services.catalog.title" | translate}}</div>
        <div class="innerPanel">
            <button type="button" class="crux-Button innerPanel-Button">{{"services.catalog.button.search" | translate}}</button>
            <input type="text" class="innerPanel-TextBox">
        </div>
        <div class="grid">
            <div class="crux-Grid" style="overflow: auto; position: relative; zoom: 1; width: 100%;">
                <div style="position: relative; zoom: 1;">
                    <table cellspacing="1" cellpadding="0" style="width: 100%;">
                        <tbody style="width: 100%; height: 100%;">
                        <tr class="columnHeadersRow row">
                            <th class="cellWrapper" width="250px" align="center" style="vertical-align: middle;">
                                <div class="label">{{"services.catalog.col.name" | translate}}</div>
                            </th>
                            <th width="150px" class="cellWrapper" align="center" style="vertical-align: middle;">
                                <div class="label">{{"services.catalog.col.status" | translate}}</div>

                            </th>
                            <th width="100px" class="cellWrapper" align="center" style="vertical-align: middle;">
                                <div class="label">{{"services.catalog.col.edit" | translate}}</div>
                            </th>
                        </tr>
                        <tr class="row" ng-repeat="app in applicationList">
                            <td width="250px" align="center" style="vertical-align: middle;">
                                <div class="gwt-Label" style="white-space: normal;">{{app.Application.name}}</div>
                            </td>
                            <td width="150px" align="center" style="vertical-align: middle;">
                                <div class="gwt-Label" style="white-space: normal;">{{app.Application.status}}</div>
                            </td>
                            <td width="100px" align="center" style="vertical-align: middle;">
                                <button type="button" class="faces-Button">{{"services.catalog.button.go" | translate}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
