<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">{{"service.title" | translate}}</div>
        <div class="panel-body">

            <div class="serviceDeploy">
                <span class="mo_text">{{"service.deploy.title" | translate}}</span>
                <button type="button" class="btn">{{"service.button.deploy" | translate}}</button>
                <button type="button" class="btn">{{"service.button.test" | translate}}</button>
            </div>
            <div class="serviceParameters">
                <span class="mo_text">{{"service.params.title" | translate}}</span>
                <div class="leftPanel">
                    <div class="taylor-Label">{{"service.cloudnode" | translate}}:</div>
                    <select class="taylor-ListBox" ng-model="service.cloudNode" ng-options="cloud.name for cloud in cloudNodeList"></select>
                    <div class="taylor-Label">{{"service.os" | translate}}:</div>
                    <select class="taylor-ListBox" ng-model="service.os" ng-options="os.name for os in osList"></select>
                    <div class="taylor-Label">{{"service.numcpu" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" ng-model="service.cpu">
                    <div class="taylor-Label">{{"service.disk" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" ng-model="service.disk">
                    <div class="taylor-Label">{{"service.ram" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" ng-model="service.ram">
                    <div class="taylor-Label">{{"service.bandwidth" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" ng-model="service.bandwidth">
                    <div class="taylor-Label">{{"service.urldomain" | translate}}:</div>
                    <input type="text" class="taylor-TextBox" ng-model="service.domain">
                    <div class="taylor-Label">{{"service.cssskin" | translate}}:</div>
                    <select class="taylor-ListBox" ng-model="service.skin" ng-options="s.name for s in skinList"></select>
                </div>
                <br />
                <button type="button" class="btn" ng-click="saveTemplate(service)">{{"service.button.save" | translate}}</button>
                <button type="button" class="btn" ng-click="uploadTemplate(service)">{{"service.button.upload" | translate}}</button>
            </div>
        </div>
    </div>
</div>