<div class="fixedWidth">
    <div class="panelScreen">
        <div class="header-ScreenLabel">Subscribe Service - Taylor Form</div>
        <div class="serviceParametersPanel">
            <span class="mo_text">Service Parameters</span>
            <div class="taylor-Label">Cloud Node:</div>
            <select class="taylor-ListBox">
                <option value="Turin">Turin</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Bucharest">Bucharest</option>
            </select>
            <div class="taylor-Label">URL/Domain:</div>
            <input type="text" class="taylor-TextBox">
            <div class="serviceFlavour">
                <span class="mo_text">Service Flavour</span>
                <div class="taylor-Label">Operating System:</div>
                <select class="taylor-ListBox">
                    <option value="Ubuntu 14.04">Ubuntu 14.04</option>
                    <option value="CentOS 7">CentOS 7</option>
                    <option value="CoreOS 1.6">CoreOS 1.6</option>
                </select>
                <div class="taylor-Label">CSS Skin:</div>
                <select class="taylor-ListBox">
                    <option value="BlueSky">BlueSky</option>
                    <option value="Lemonade">Lemonade</option>
                    <option value="Violette">Violette</option>
                </select>
                <div class="taylor-Label">SLAs:</div>
                <select class="taylor-ListBox"></select>
                <div class="taylor-Label">Number CPU's:</div>
                <input type="text" class="taylor-TextBox" disabled="">
                <div class="taylor-Label">Bandwith:</div>
                <input type="text" class="taylor-TextBox" disabled="">
                <div class="taylor-Label">Disk Space:</div>
                <input type="text" class="taylor-TextBox" disabled="">
                <div class="taylor-Label">Memory RAM:</div>
                <input type="text" class="taylor-TextBox" disabled="">
            </div>
            <button type="button" class="crux-Button">Subscribe Service</button>
        </div>
    </div>
</div>